.primeira-secao {
    display: flex;
    background-color: #F4EDE4;
    padding: 25px 75px;

    .primeira-secao-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px 0;
    }

    .subtitulo {
        font-family: 'Inter', sans-serif;
        color: #7F7F7F;
        font-weight: 500;
    }

    .sobre-mim {
        width: 300px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
}