.pagina-faturamento-mensal {
    padding-top: 200px;
    background-color: #CFC5B8;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        font-weight: 900;
        color: #433D4A;
        font-size: 45px;
        margin-bottom: 50px;
    }
    
    .grafico {
        width: 80%;  
        height: 50vh; 
        display: flex;
        justify-content: center;      
    }

}